body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ee6e73;
}

#logo {
  color: white;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}



#task-posted {
  padding: 20px;
  border: solid black 2px; 
  margin: 1px;
  border-radius: 5px;
}

.collection {
  border: none;
}

.welcome {
  text-align: center;
  color: #2bbbad;
}

.catagory {
  font-size: 20px;
  color: black;
  text-align: left;
  font-weight: bold;
}

.name {
  font-size: 15px;
  color: #0db0ff;
  font-weight: bold;
  padding-bottom: 20px;
}

.price-index {
  font-size: 25px;
  font-weight: bold;
  /* text-align: center; */
  color: #2bbbad;
  padding-right: 100px;
}

#price-show {
  font-size: 30px;
  font-weight: bold;
}

#catagory-show {
  font-weight: bold;
}

#name-show {
  font-size: 100px;
  font-weight: bold;
}

#details-show {
  font-size: 50px;
}

.postBtn {
  padding: 40px;
}

.nav-wrapper {
  background-color: #ee6e73;
}







