<%- include('../partials/header') %>
<form action="/tasks" method="POST">
<lable>Catagory:</lable>
<input type="text" name="catagory">
<lable>Details:</lable>
<input type="text" name="details">
<lable>Price:</lable>
<input type="number" name="price">
<input type="submit" value="Post Task">
</form>
<%- include('../partials/footer') %>

